<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <!-- Sidebar Toggle -->
    <button class="btn sidebar-toggle me-3" (click)="toggleSidebar()">
      <i class="bi" [ngClass]="{'bi-list': !isSidebarOpen, 'bi-x': isSidebarOpen}"></i>
    </button>

    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" routerLink="/mainlayout">
      <img src="https://t3.ftcdn.net/jpg/09/69/28/04/240_F_969280442_ErrmrhEcD3gID7Grwd4MJuC7jOVQFb9q.jpg" alt="Family Tree Logo" class="logo me-2">
      <span class="brand-text">Family Tree</span>
    </a>

    <div class="ms-auto">
      <!-- User Profile -->
      <app-user-profile />
    </div>
  </div>
</nav>

<!-- Sidebar -->
<div class="sidebar" (click)="toggleSidebar()" [ngClass]="{'open': isSidebarOpen}">
  <div class="sidebar-content">
    <div class="sidebar-menu">
      <a class="sidebar-item" routerLink="dashboard" routerLinkActive="active">
        <i class="bi bi-speedometer2"></i>
        <span>Dashboard</span>
      </a>
      <a class="sidebar-item" routerLink="familyform" routerLinkActive="active">
        <i class="bi bi-people"></i>
        <span>Family Form</span>
      </a>
      <a class="sidebar-item" routerLink="memberform" routerLinkActive="active">
        <i class="bi bi-people"></i>
        <span>Members Form</span>
      </a>
      <a class="sidebar-item" routerLink="relationsform" routerLinkActive="active">
        <i class="bi bi-diagram-3"></i>
        <span>Relations Form</span>
      </a>
      <a class="sidebar-item" routerLink="gridview" routerLinkActive="active">
        <i class="bi bi-images"></i>
        <span>Gridview</span>
      </a>
      <a class="sidebar-item" routerLink="relationsview" routerLinkActive="active">
        <i class="bi bi-images"></i>
        <span>Relations View</span>
      </a>
    </div>
  </div>
</div>

<!-- Overlay -->
<div class="sidebar-overlay" [ngClass]="{'show': isSidebarOpen}" (click)="toggleSidebar()"></div>