<div class="container-fluid">
    <!-- Title -->
    <h2 class="title"><B>FAMILY TREE MANAGEMENT</B></h2>
  
      <!-- Main Table -->
    <table class="lookup-table" >
      <thead>
        <tr>
          <!-- <th></th> -->
          <th>Surname</th>
          <th>Color</th>
          <th>Description</th>
          <th>CreatedDate</th>

          <th>CreatedBy</th>
          


          <th>Action</th>
        </tr>
      </thead>
      <tbody>

        <ng-container *ngFor="let lookup of lookups; let i = index">
          <tr>
            <td>
              <button class="expand-btn" (click)="toggleExpand(i)">
                {{ expandedRow === i ? '▼' : '▶' }}
              </button>
            </td>
            <td>{{ lookup.Surname }}</td>
            <td>{{ lookup.Color }}</td>
            <td>{{ lookup.Description}}</td>
            <td>{{ lookup.CreatedAt}}</td>

            <!-- Parent Delete -->
          <td>
                <i class="fa-thin fa-pen-to-square" (click)="openEditForm(lookup)"></i>
                 &nbsp;
                <i class="fa-thin fa-trash" (click)="deleteParent(lookup.Id)"></i>

          </td>
              </tr>
          <!-- Child Table: Members -->
          <tr *ngIf="expandedRow === i">
            <td colspan="7">
              <table class="lookup-table" >
                <thead>
                  <tr>
                    <!-- <th> </th> -->
                    <th>Image</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Date Of Birth</th>
                    <th>CreatedAt</th>
                    <th>CreatedBy</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let member of lookup.Members; let j = index">
                    <tr>
                      <td>
                        <button class="expand-btn" (click)="toggleSubExpand(j)">
                          {{ expandedSubRow === j ? '▼' : '▶' }}
                        </button>
                      </td>
                       <td>{{ member.Image }}</td>
                      <td>{{ member.FirstName}}</td>
                      <td>{{ member.LastName}}</td>
                      <td>{{ member.Gender }}</td>
                      <td>{{ member.DateOfBirth }}</td>
                      <td>{{ member.CreatedAt}}</td>
                      
                   
                      <td>
                        <i class="fa-thin fa-pen-to-square" (click)="openEditForm1(member)"></i>

                        &nbsp;
                        <i class="fa-thin fa-trash" (click)="deleteChild(i, member.Id)"></i>
                      </td>
                    </tr>
  
                    <!-- Sub-Child Table: Relationships -->
                    <tr *ngIf="expandedSubRow === j">
                      <td colspan="6">
                        <table class="lookup-table">
                          <thead>
                            <tr>
                              <!-- <th>Id</th> -->
                              <th>ParentMember</th>                    
                              <th>ChildMember</th>
                              <th>
                                RelationName
                                </th>
                              <th>Action</th>
                            </tr>     
                          </thead>
                          <tbody>
                            <tr *ngFor="let relationship of member.Relationships; let k = index">
                              <!-- <td>{{ relationship.Id }}</td> -->
                              <td>{{ relationship.ParentMemberId }}</td>
                              <td>{{ relationship.ChildMemberId }}</td>
                              <td>{{ relationship.RelationName
                                 }}</td>
                              <td>
                                <i class="fa-thin fa-pen-to-square " (click)="openEditForm2(relationship)"></i>

                                &nbsp;
                                <!-- <i class="fa-thin fa-trash" (click)="deleteSubChild(i, j, relationship.ChildMemberId)"></i> -->
                                <i class="fa-thin fa-trash" (click)="deleteRelation(relationship.Id)"></i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  
  <!-- -----FanilyNames edit form----- -->
  <div *ngIf="isEditFormVisible" class="modal-overlay">
    <div class="modal-content">
      <h3>Edit Family</h3>
      <form #familyForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="surname">Surname*</label>
          <input
            id="surname"
            [(ngModel)]="editData.Surname"
            name="surname"
            required
            #surname="ngModel"
          />
          <div *ngIf="surname.invalid && surname.touched" class="error">
            Surname is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="color">Color:</label>
          <input
            id="color"
            [(ngModel)]="editData.Color"
            name="color"
            required
            #color="ngModel"
          />
          <div *ngIf="color.invalid && color.touched" class="error">
            Color is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea
            id="description"
            [(ngModel)]="editData.Description"
            name="description"
            required
            #description="ngModel"
          ></textarea>
          <div *ngIf="description.invalid && description.touched" class="error">
            Description is required.
          </div>
        </div>
  
        <div class="modal-buttons">
          <button type="submit" [disabled]="familyForm.invalid" class="btn save-btn">
            Save
          </button>
          <button
            type="button"
            (click)="closeEditForm()"
            class="btn close-btn"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
  
<!-- ---------members ----- -->

<div *ngIf="isEditFormVisible1" class="edit-form">
    <h3>Edit Members</h3>
    <form #membersForm="ngForm" (ngSubmit)="updateData1()">
      <div>
        <label for="firstname">Firstname:</label>
        <input
          id="firstname"
          [(ngModel)]="editData1.FirstName"
          name="firstname"
          required
          #firstname="ngModel"
        />
        <!-- Error Message -->
        <div *ngIf="firstname.invalid && firstname.touched" class="error">
          First name is required.
        </div>
      </div>
      <div>
        <label for="lastname">Lastname:</label>
        <input
          id="lastname"
          [(ngModel)]="editData1.LastName"
          name="lastname"
          required
          #lastname="ngModel"
        />
        <!-- Error Message -->
        <div *ngIf="lastname.invalid && lastname.touched" class="error">
          Last name is required.
        </div>
      </div>
      <div>
        <label for="gender">Gender:</label>
        <input
          id="gender"
          [(ngModel)]="editData1.Gender"
          name="gender"
          required
          #gender="ngModel"
        />
        <!-- Error Message -->
        <div *ngIf="gender.invalid && gender.touched" class="error">
          Gender is required.
        </div>
      </div>
      <div>
        <label for="dateofbirth">Date of Birth:</label>
        <input
          id="dateofbirth"
          [(ngModel)]="editData1.DateOfBirth"
          name="dateofbirth"
          required
          type="date"
          #dateofbirth="ngModel"
        />
        <!-- Error Message -->
        <div *ngIf="dateofbirth.invalid && dateofbirth.touched" class="error">
          Date of Birth is required.
        </div>
      </div>
      <button type="submit" [disabled]="membersForm.invalid">Save</button>
      <button type="button" (click)="closeEditForm1()">Close</button>
    </form>
</div>

<!-- ---Relationships edit form----- -->

<div *ngIf="isEditFormVisible2" class="edit-form">
  <h3>Edit FamilyRelations</h3>
  <form (ngSubmit)="updateData2()">
    <div>
      <label for="parentmemberid">ParentMemberId</label>
      <input id="parentmemberid" [(ngModel)]="editData2.ParentMemberId" name="parentmemberid" required />
    </div>
    <div>
      <label for="childmemberid">ChildMemberId:</label>
      <input id="childmemberid" [(ngModel)]="editData2.ChildMemberId" name="childmemberid" required />
    </div>
    <div>
      <label for="relationname">RelationName:</label>
      <input id="relationname" [(ngModel)]="editData2.RelationName" name="relationname" required />
    </div>
    <button type="submit">Save</button>
    <button type="button" (click)="closeEditForm2()">Close</button>
  </form>
</div>
