<!-- <div class="welcome-text">
    <h1 class="display-4 fw-bold mb-4">Welcome To Family Tree</h1> -->
    <!-- <p class="mb-4">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.</p> -->
    <!-- <p class="mb-4">The purpose of this family tree is to preserve the history of our family, honor the lives of our ancestors, and strengthen the bonds from past to future generations. By understanding where we come from, we can better appreciate who we are and where we are going.</p>
    <div class="social-icons">
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-twitter"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-youtube"></i></a>
    </div>
  </div> -->